* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #080710;
}

header {
    color: #fff;
    padding: 20px 0;
    background-color: rgba(255,255,255,0.07);
}

.container {
    padding: 0 100px;
}

.formulario {
    max-width: 400px;
    margin: 50px auto;
    background-color: rgba(255,255,255,0.13);
    padding: 20px 50px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.172);
}

form h2 {
    color: #fff;
    padding: 14px 0;
    font-weight: normal;
}

form label {
    display: block;
    color: #fff;
    font-size: 12px;
}

form input {
    padding: 8px;
    width: 300px;
    margin-bottom: 8px;
    margin-top: 2px;
    border: none;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
}

::placeholder{
    color: #fff;
    font-size: 12px;
}

form button {
    background-color: #fff;
    color: #080710;
    padding: 8px;
    width: 300px;
    margin: 18px 0;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: rgba(255,255,255,0.07);
    color: #fff;
}