* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #080710;
}

header {
    color: #fff;
    padding: 15px 0;
    background-color: rgba(255,255,255,0.07);
}

header li {
    display: inline;
    padding-left: 8px;
}

header li a {
    text-decoration: none;
    color: #fff;
}

header h1 {
    font-weight: normal;
}

.container {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formulario {
    max-width: 320px;
    margin: 30px auto;
    background-color: rgba(255,255,255,0.13);
    padding: 20px 35px;
    border-radius: 10px;
    border: 1px solid #fff;
}

form h2 {
    color: #fff;
    padding: 14px 0;
    font-weight: normal;
}

form label {
    display: block;
    color: #fff;
    font-size: 12px;
}

form input {
    padding: 6px;
    width: 250px;
    margin-bottom: 8px;
    margin-top: 2px;
    border: none;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
}

::placeholder{
    color: #fff;
    font-size: 12px;
}

form button {
    background-color: #fff;
    color: #080710;
    padding: 6px;
    width: 250px;
    margin: 18px 0;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
}

form button:hover {
    background-color: rgba(255,255,255,0.07);
    color: #fff;
}